# Build artifacts
build-qemu/build/
build-qemu/install/

# Virtual disks
disks/

# ISO files
iso/
*.iso

# OVMF firmware
ovmf/*.fd

qemu-11.0.4.tar.xz
config-temp/
config.log
STATUS.md

# source code of Hyprland & omarchy
#
Hyprland/
omarchy/
